body {
	font-size: 1.2em;

}

header, footer {
	background-color: #569dbd;
	height: 300px;
}

header nav ul {
	list-style-type: none;
}

header nav li {
	display: inline-block;
	padding: 1.5% 1.5%;
}

header nav a {
	text-decoration: none;
	color: #444444;
}

header .myInfo {
	padding-bottom: 2%;
}

header .myInfo .info {
	padding-top: 1.5%;
}

header .myInfo .info i{
	color: black;
	padding: 0.5%;
}

header .myInfo img {
	float: left;
	margin-left: 10%;
	margin-right: 2%;
	max-width: 22%;
}

div.resume {
	clear: both;
	padding-top: 2.5%;
	padding-left: 5%;
}

div section p, div section h5 {
	padding-left: 1%;
}


.mySkills div {
	display: inline-grid;
	width: 30%;
}

.portfolio div {overflow: hidden;}

.portfolio div div {
	float: left;
	width: 30%;
	padding: 1%;
}

.portfolio div img {
	width: 100%;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}

footer h3 {
	padding: 2% 5%;
}

footer form {
	padding-left: 7%;

}

footer form input {
	width: 30%;
	margin-bottom: 1%;
}

footer form textarea {
	width: 30%;
	height: 100px;
}

