html {
  scroll-behavior: smooth;
}

body {
	font-size: 1.2em;
}

header, footer {
	background-color: #569dbd;
}

nav a, nav i {
	color: #dddddd;
}

.active, a:hover {
	color: #ffffbb;
}

header .myInfo .info {
	padding: 2%;
}

header .myInfo .info i{
	color: black;
	padding: 0.5%;
}

header, main.resume, footer {
	clear: both;
	padding: 2% 5%;
}

section p, section h5, footer h3 {
	padding-left: 1%;
}

.portfolio img {
    padding: 0.5%;
    margin: 0.5%;
    background-color: #fff;
    border: 1px solid #ccc;
}

footer form {
	margin: 3%;
}

@media only screen and (max-width: 700px) {

  header .myInfo img {
  	display: none;
  }

}
