html {
  scroll-behavior: smooth;
}

body {
	font-size: 1.2em;
}

header .myInfo .info {
	padding: 2%;
}

header, footer {
	background-color: #569dbd;
}

nav ul {
	line-height: 30px;
}

nav a {
	display: inline-block;
	float: left;
}

nav a, nav i {
	color: #dddddd;
}

.active, a:hover {
	color: #ffffbb;
}

.mainnav li.active .subnav {
	font-size: 0.75em;
    max-width: 100%;
    max-height: 40px;
}

.subnav {
  overflow: hidden;
  max-width: 0;
  max-height: 0;
  transition: all 1s ease-out;
}

header img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header .myInfo .info i{
	color: black;
	padding: 0.5%;
}

main.resume, footer {
	padding: 2% 0%;
}

section {
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
}

section p, section h5, footer h3 {
	padding-left: 1%;
}

 section div p {
 	padding-left: 2%;
 	font-size: 0.9em;
 }

.portfolio img {
    padding: 0.5%;
    margin: 0.5%;
    background-color: #fff;
    border: 1px solid #ccc;
}

footer form {
	margin: 3%;
}

#main {
	min-height: 100vh;
	margin-bottom: -300px;
	width: 100%;
}

#main:after {
	content: "";
	display: block;
	height: 300px;
}

footer {
	height: 300px;
}

.progress {
	height: 20px;
	width: 70%;
}

.progress-bar {
	height: 20px;
	background-color: #569dbd
}

.mix {
	display: none;
}

.categories ul {
	list-style-type: none;
	display: inline-block;
	margin: 10px 0; 
}
.categories ul li {
    color: #999;
    border: 1px solid #999; 
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    float: left;
}
.categories ul li:hover, .categories ul li.active {
    background-color: #1BBC9B; 
    color: #fff; 
    cursor: pointer;
    border-color: #1BBC9B;
}

@media only screen and (max-width: 575px) {

	header img {
		max-width: 35%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	header .info {
		text-align: center;
	}

}

@media only screen and (max-width: 770px) {

	main.resume, footer {
		padding: 3% 3%;
	}

	.portfolio img {
		width: 70%;
		margin-left: 10%;
	}

	.mainnav li.active {
		display: inline-grid;
	}

	.mainnav li.active .subnav {
		display: contents;
	}

}
